.container{
    display: flex;
    margin-right: 30px;
}
.others{
    flex:1;
    background-color: rgb(255, 245, 254);
    padding: 80px;
}
.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    background-color: rgba(228, 198, 214, 0.713);
    margin-left: -140px;
    position: sticky;
    top: 50px;
    border-radius: 30px;
}

.sidebarWrapper{
    padding: 100px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 2rem;
}
.sidebarTitle{
    font-size: 1.3rem;
    color: rgb(5, 5, 5);
    
}
.sidebarListItem{
    width: 150px;
    padding: 10px;
    cursor:pointer;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.sidebarListItem.active {
    background-color: rgb(240,239,239);
    padding: 8px;
}
.sidebarListItem:hover{
    background-color: rgb(212,209,235);
}
